#root {
    margin: 0 auto;
    padding: 0px;
    background-color: #FFFBF5;
  }
.servicios {
    background-color: #FFFBF5;
    margin: 0 auto;
    padding: 2rem;
}
.home-encabezado {
    background-color: #FFBBE0;
    text-align: center;
    padding-top: 40px;
}
h1 {
    color: #FFFBF5;
    font-size: 64px;  
    font-family: Yusei Magic;
    margin-bottom: 1px;
    
    
}
h2 {
    color: #D90452;
    font-size: 70px;
    font-family: 'Yusei Magic', sans-serif;
    margin-top: 1px;
   
}
.subrayado {
    color: #D90452;
    font-size: 70px;
    font-family: 'Yusei Magic', sans-serif;
    margin-top: 1px;
    text-decoration: underline;
    text-decoration-color: #D90452;
    text-decoration-style: solid;
}