.texto-NotFound{
    height: 112px;
    font-family: 'Yusei Magic';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 160%;
    letter-spacing: 1px;
    color: #D90452;
}