.fotos{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
width: 100%;

margin:30px 0 0 0; 
}
.fotos div{

}
.fotos img{
width: 90%;
border-radius: 64px;
}
.fotos button{
width: 100%;
Height:63px;
background: #985FA6;
border-radius: 8px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 35px;
gap: 10px;
margin-bottom: 30px;
}
.fotos p{
width: 82px;
height: 36px;
font-family: 'Yusei Magic';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
color: #FFFBF5;
}
.C1{
display: flex;
align-items: center;    
justify-content: space-around;
padding: 20px;
Height:376px;
background: #FFBBE0;
border-radius: 50px;
margin-bottom: 30px;
}
.C2{
display: flex;
align-items: center;
justify-content: space-around;
padding: 20px;
Height:376px;
background: #FFBBE0;
border-radius: 50px;
}
.C3{
display: flex;
align-items: center;
justify-content: space-around;
padding: 20px;
Height:376px;
background: #FFBBE0;
border-radius: 50px;
}