.informacion{
    position: absolute;
    width: 100%;
    height: 368px;
    left: 0px;
    top: 951px;
    }
.texto{
    position: absolute;
    right: 0.76%;
    bottom: 19.57%;
    width: 100%;
        
    position: absolute;
    left: 10px;
    right: 0.76%;
    top: 20.65%;
    bottom: 59.78%;
        
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    color: #191919;
        
}
    .tituloInfo{
        font-family: 'Yusei Magic';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 2%;
        letter-spacing: 1px;
        color: #BE91CA;
        }
        .linea4{
        
        border: 3px solid #BE91CA;
        }
        
        .botonInf button{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 35px;
            gap: 10px;
            
            position: absolute;
            left: 1.78%;
            right: 0%;
            top: 82.88%;
            bottom: 0%;
            
            background: #985FA6;
            border-radius: 8px;
        }
        .botonInf p{
        width: 226px;
        height: 36px;
        font-family: 'Yusei Magic';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        color: #FFFBF5;
        flex: none;
        order: 0;
        flex-grow: 0;
        }