@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.form-cuenta{
  font-family: 'Yusei Magic';
  font-style: normal;
  background: #FFBBE0;
  text-align: center;
  position: static;
  padding-top: 40px;
}
/*Titulo*/
.title {
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #D90452;
}

/*Por favor rellenar los campos*/
.text1{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #D90452;
  padding: 30px;

}

/*Boton*/
.input-field.button input {
  font-weight: 600;
  font-size: 23px;
  line-height: 25px;
  color: #D90452;

  margin-top: 30px;
  margin-bottom: 10px;
  padding: 20px 70px;
  background-color: #F19D9D;
  border: none;
  border-radius: 25.5px;
  cursor: pointer;
}
  
.input-field.button input:hover {
  background-color: #D90452;
  color: #F19D9D;
}

/*ya tienes una cuenta*/
.cuenta-login {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #D90452;
}

/*inicia sesion*/

.cuenta-login a {
  position: relative;
  left: 9%;
  bottom: 21.36%;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #D90452;
}

  /*Nombre completo*/
.input-nombre{
  background-color: #F19D9D;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
}

.input-nombre input {
  font-weight: 500;
  font-size: 23px;
  line-height: 5px;
  color: #D90452;

  width: 70%;
  padding: 15px 35px;
  background-color: #F19D9D;
  border:#FFBBE0;
  
  cursor: pointer;
}

.input-nombre input::placeholder {
  color: white; 
  font-size: 17px; 
  text-indent: 9px;
}

/*Telefono*/

.input-phone{
  background-color: #F19D9D;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px
}

.input-phone input {
  font-weight: 500;
  font-size: 23px;
  line-height: 5px;
  color: #D90452;

  width: 70%;
  padding: 15px 35px;
  background-color: #F19D9D;
  border:#FFBBE0;
  
  cursor: pointer;
}

.input-phone input::placeholder {
  color: white; 
  font-size: 17px; 
  text-indent: 9px;
}

/*Correo Electronico*/

.input-email{
  background-color: #F19D9D;
  width: 75%;
  margin-left: 10%;
  margin-bottom: 20px
}

.input-email input {
  font-weight: 500;
  font-size: 23px;
  line-height: 5px;
  color: #D90452;

  width: 70%;
  padding: 15px 35px;
  background-color: #F19D9D;
  border:#FFBBE0;
  
  cursor: pointer;
}

.input-email input::placeholder {
  color: white; 
  font-size: 17px; 
  text-indent: 9px;
}

/*Password*/
.input-password {
  background-color: #F19D9D;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px
}


.input-password input {
  font-weight: 500;
  font-size: 23px;
  line-height: 5px;
  color: #D90452;

  width: 65%;
  padding: 15px 20px;
  background-color: #F19D9D;
  border:#FFBBE0;
  
  cursor: pointer;
}

.input-password input::placeholder {
  color: white; 
  font-size: 17px; 
  text-indent: 9px;
}

/*password2*/

.input-passwordConfirm {
  background-color: #F19D9D;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px
}


.input-passwordConfirm input {
  font-weight: 500;
  font-size: 23px;
  line-height: 5px;
  color: #D90452;

  width: 65%;
  padding: 15px 20px;
  background-color: #F19D9D;
  border:#FFBBE0;
  
  cursor: pointer;
}

.input-passwordConfirm input::placeholder {
  color: white; 
  font-size: 17px; 
  text-indent: 9px;
}
.fotter-adorno-cuenta{
  height: 120px;
  margin-top: 30px;
  background-color: #D90452;
}