body{
    margin: 0%;
    }
    
.paginaDescuento{
    position: relative;
    
    }
    .pantallaDescuento{
   display: flex;
   
   flex-direction: column;
   justify-content: space-around;
    width:100%;
    height: 788px;
    left: 0px;
    top: 0px;
    background: #FFBBE0;    
    }
    .descuentos{
        display: flex;
flex-direction: column;
margin: 20px 0 20px 0;
margin-bottom: 20px;

    }
    .pantallaDescuento span{
        width: 100%;
height: 35px;
left: 19px;
top: 230px;
font-family: 'Yusei Magic';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 56%;
letter-spacing: 1px;
color: #FFFBF5;

    }
    .paginaDescuento h6{
        width: 100%;
height: 112px;
left: 19px;
top: 281px;
font-family: 'Yusei Magic';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 160%;
letter-spacing: 1px;
color: #D90452;

    }
   
    
    .linea{
   
    width: 184px;
    height: 0px;
    left: 27px;
    top: 435px;
    border: 4px solid #D90452;
    }
    .foto2Descuento img{
        width: 100%;
        height: 100%;
    }
.olasDes{
    transform:rotate(180deg); 
}
   
