.logoCategorias
{
    margin: 40px 0 40px 0;
}
.logoGigante img{
width: 100%;
height: 100%;
top: 10.25%;
bottom: 6.58%;  
}
.lineaG1{

width: 100%;

top: 5.89%;
bottom: 95.11%;

border: 3px solid rgba(190, 145, 202, 0.8);
}
.lineaG2{

width: 100%;

top: 94.28%;
bottom: 5.72%;

border: 3px solid rgba(190, 145, 202, 0.8);
}