.datos{
    position: absolute;
    width: 100%;
    height: 632px;
    left: 0px;
    top: 2578px;
    }
    .redes{
    position: absolute;
    left: 20.17%;
    right: 19.75%;
    top: 53.64%;
    bottom: 19.46%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #191919;
    opacity: 0.75;
    }
    .ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: -1.89%;
    right: -2.31%;
    top: 11.87%;
    bottom: 59.49%;
    color: #191919;
    }
    .linea6{ 
    position: absolute;
    left: 0%;
    right: 0%;
    top: 47.63%;
    bottom: 52.37%;
    border: 3px solid rgba(190, 145, 202, 0.8);
    }
    .linea7{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 93.71%;
    bottom: 13.29%;
    border: 3px solid rgba(190, 145, 202, 0.8);
    }
    .final{
    position: absolute;
    left: 15.89%;
    right: 15.65%;
    top: 94.95%;
    bottom: 4.46%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #0A142F;
    opacity: 0.65;
    }
    .derechos{
    width: 100%;
    position: absolute;
    left: 15.89%;
    right: 15.65%;
    top: 94.95%;
    bottom: 4.46%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #0A142F;
    opacity: 0.65;
    }
    