.datos{
    width: 100%;
    }
    .redes{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #191919;
    opacity: 0.75;
    }
    .ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #191919;
    }
    .linea6{ 
    border: 3px solid rgba(190, 145, 202, 0.8);
    }
    .linea7{
    border: 3px solid rgba(190, 145, 202, 0.8);
    }
    .final{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #0A142F;
    opacity: 0.65;
    }
    .derechos{
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #0A142F;
    opacity: 0.65;
    display: flex;
    justify-content: space-around;
    }
    