.header {
    width: 100%;
    height: 48.28px;
    left: 0;
    right: 26px;
    top: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .linea3 {
    width: 22.26px;
    height: 0px;
    left: 12px;
    top: 33px;
    border: 2px solid #191919;
  }
  
  .linea2 {
    width: 23px;
    height: 0px;
    left: 12px;
    top: 24px;
    border: 2px solid #191919;
  }
  
  .linea1 {
    width: 22.26px;
    height: 0px;
    left: 12px;
    top: 15px;
    border: 2px solid #191919;
  }
  
  .logo img {
    left: 0%;
    right: 86.42%;
    top: 0%;
    bottom: 0.58%;
    width: 52px;
    height: 48px;
  }
  
  .header button {
    left: 50.13%;
    right: 18.78%;
    top: 12.43%;
    bottom: 12.43%;
    background: #FF748C;
    border-radius: 8px;
    width: 119.06px;
    height: 36.28px;
  }
  
  .header h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFBF5;
    margin: 0%;
  }
  
  .menu {
    left: 84.47%;
    right: 3.7%;
    top: 0%;
    bottom: 0.58%;
    background: #FFFBF5;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    height: 48px;
    width: 48px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
  }
  
