.informacion{
    
    width: 100%;
    
    }
    .texto{
    
    right: 0.76%;
    top: 20.65%;
    bottom: 19.57%;
    width: 100%;
    
    
    left: 10.64%;
    right: 0.76%;
    top: 20.65%;
    bottom: 59.78%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #191919;
    
    }
    .tituloInfo{
        font-family: 'Yusei Magic';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 2%;
        letter-spacing: 1px;
        color: #BE91CA;
        padding: 40px;
        }
        .linea4{
        
        border: 3px solid #BE91CA;
        }
        .ubit{
        
        left: 13.06%;
        right: 5.37%;
        top: 29.8%;
        bottom: 67.57%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        color: #191919;
        }
        .cellt{
        
        left: 13.06%;
        right: 10.55%;
        top: 32.5%;
        bottom: 65.92%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        color: #191919;
        }
        .emailt{
       
        left: 13.06%;
        right: 10.73%;
        top: 34.1%;
        bottom: 63.2%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        text-decoration-line: underline;
        color: #191919;
        }
        .botonInf button{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        
            background: #985FA6;
            border-radius: 8px;
        }
        .botonInf p{
        font-family: 'Yusei Magic';
        font-style: normal;
        font-size: 20px;
        color: #FFFBF5;
        flex: none;
        order: 0;
        flex-grow: 0;
        }
    