@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.form-login{
  font-family: 'Yusei Magic';
  font-style: normal;
  background: #FFBBE0;
  text-align: center;
  position: static;
  padding-top: 50px;
}
.title1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #D90452;
  
}

.text01{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #D90452;
  padding: 40px;
}

.input-login-button01 input {
  font-weight: 600;
  font-size: 23px;
  line-height: 25px;
  color: #D90452;

  padding: 20px 70px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #F19D9D;
  border: none;
  border-radius: 25.5px;
  cursor: pointer;
}
  
.input-login-button01 input:hover {
  background-color: #D90452;
  color: #F19D9D;
}

.login-signup .text03 {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #D90452;
}

.login-signup .text03 a {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-weight: 800;
  color: #D90452;
}

.text-contraseña{
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
.input-password{
  background-color: #F19D9D;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
}
.input-password input {
    font-weight: 500;
    font-size: 23px;
    line-height: 5px;
    color: #D90452;
    border: 0px;
    padding: 15px;
    background-color: #F19D9D;
    
    cursor: pointer;
  }
  
.input-password input::placeholder {
    color: white; 
    font-size: 17px; 
    text-indent: 9px;
}
.input-password input {
  width: 70%;
}
.input-email {
  background-color: #F19D9D;
  width: 75%;
  margin-left: 10%;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 11px;
}
.input-email input {
  font-weight: 500;
  font-size: 23px;
  line-height: 5px;
  color: #D90452;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #F19D9D;
  border: 0px;
  
  cursor: pointer;
}

  
.input-email input::placeholder {
  color: white; 
  font-size: 17px; 
  text-indent: 9px;
}
.fotter-adorno{
  height: 120px;
  margin-top: 30px;
  background-color: #D90452;
}