.menuContainer {
    position: fixed;
    top: 0;
    left: 0;
   
    z-index: 9999;
    background-color: #FF91A4;
    height: 30%;
    width: 100%;
  }
  .boneto p{
    font-size: 25px;
  }
 .boneto{
     display: flex;
     flex-direction: row;
     align-items: center;
 }
  
  
  .menuContent {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FF91A4;
    padding-top: 140px;
    border-radius: 8px;
  }
  a:-webkit-any-link{
    color: white;
    text-decoration: none;
    font-family: 'Yusei Magic', sans-serif;
  }
.equis{
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.equis:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
    content: "\274c"; 
    font-size: 30px; 
    color: #FFF;
    line-height: 100px;
    text-align: end;
}