.olas-vector {
    width: auto;
    height: 85px;
    position: relative;
    
}
.olas-vector img {
    max-width: 100%;
    width: auto;
    height: max-content;
    margin-top: -1px;
    object-fit: fill;
}