.CatalogoOfertas {
    margin: 20px 0;
}


.CatalogoOfertas p {
    font-family: 'Yusei Magic';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #000000; 
}

.cardProductoOferta {
    left: 0.0%;
    right: 0.93%;
    top: 26.56%;
    bottom: 52.9%;
    background: #FFBBE0;
    border-radius: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
}
.productoOferta {
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.productoOferta img {
    width: 70%;
}
