.resenas{
  margin: 20px 0 20px 0;
}

.pr1 {
    border-radius: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30% 0 40px 0;
  }
  .resenas p {
    font-family: 'Yusei Magic';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #000000; 
  }
  .ez {
    background: #DBA4FC;
    border-radius: 20px;
  }
  .resenas button {
    background: #985FA6;
    border-radius: 8px;
    font-family: 'Yusei Magic';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: white;
    width: 70%;
  }
  .p1 {
    background: #FFBBE0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p1 img {
    width: 80%;
  }
  .pr2 {
    border-radius: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 0 40px 0;
  }
  .p2 {
    background: #FFBBE0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p2 img {
    width: 70%;
  }
  .pr3 {
    border-radius: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 0 30% 0;
  }
  .p3 {
    background: #FFBBE0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p3 img {
    width: 70%;
  }
  