.descuento{
  margin: 20px 0 20px 0;
}

.de1 {
  padding: 30px 0 30px 0;
  margin: 40% 0 40px 0;
    border-radius: 45px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #974886;
    border-radius: 50px
    
  }
  .descuento p {
    font-family: 'Yusei Magic';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    color: #000000;
  }
  .tez {
    background: #FFBBE0;
    border-radius: 20px; 
  }
  .descuento button {
    background: #985FA6;
    border-radius: 8px;
    font-family: 'Yusei Magic';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: white;
    width: 70%;
    margin-left: 50px;
  }
  
  
  .fotitos{
    position: relative;
    background: #FFBBE0;
    width: 400px;
    height: 400px;
    border-radius: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .fotitos img {
    position: absolute;
    width: 80%;
    height: 80%;
  }
  
  .fotitos img:last-child {
    z-index: 1;
    bottom: 20px;
    right: 20px;
    width: 40%;
    height: 30%;
    
  }

    
  .de2 {
    padding: 30px 0 30px 0;
    margin: 40px 0 40px 0;
    left: 1.4%;
    right: 2.57%;
    top: 51.13%;
    bottom: 29.0%;
    border-radius: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #974886;
    border-radius: 50px
    
  }
  .de3 {
    padding: 30px 0 30px 0;
  margin: 40px 0 40% 0;
    left: 1.4%;
    right: 2.57%;
    top: 74.8%;
    bottom: 8.5%;
    border-radius: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #974886;
    border-radius: 50px
    

  }
