body{
    margin: 0%;
    }
    
.paginaDescuento2{
    position: relative;
    background: #FFBBE0;
    
    }
    .pantallaDescuento2{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
    width:100%;
    height: 788px;
    left: 0px;
    top: 0px;
    background-color: white;  
    }
.oladD{

    background-color: white;
}
    .descuentos{
        display: flex;
flex-direction: column;
margin: 20px 0 20px 0;
margin-bottom: 20px;

    }
    .sub{
        width: 100%;
height: 35px;
left: 19px;
top: 230px;
font-family: 'Yusei Magic';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 56%;
letter-spacing: 1px;
color: #985FA6;  

    }
.sub2{
font-family: 'Yusei Magic';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 56%;
letter-spacing: 1px;
color:  #FFBBE0;  
display: flex;
flex-direction: row;
    justify-content: center;
}
.Nombresito3{
width: 100%;
height: 112px;
left: 19px;
top: 281px;
font-family: 'Yusei Magic';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 160%;
letter-spacing: 1px;
color: #DF4B81;

    }
   
    
   
    .foto2Descuento img{
        width: 100%;
        height: 100%;
    }
.olasDes{
    transform:rotate(180deg); 
}
   
